<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-title>Hello, world!</mat-card-title>
        <mat-card-subtitle>this is an Angular tutorial</mat-card-subtitle>
        <mat-divider inset></mat-divider>
        <mat-card-content class="pt-2">
          <h3>What is Lorem Ipsum?</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <a class="btn btn-primary btn-large" href="https://v14.material.angular.io/" target="_blank">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

