<div class="container mt-3">
  <ng-container *ngIf="(products$ | async) as result">
    <ng-container [ngSwitch]="result.status">
      <ng-container *ngSwitchCase="productDataStatusEnum.ERROR">
        <div class="alert alert-danger">
          {{ result.errorMessage}}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="productDataStatusEnum.LOADING">
        Loading ... !
      </ng-container>
      <ng-container *ngSwitchCase="productDataStatusEnum.LOADED">
        <nav class="navbar navbar-white bg-white justify-content-between">
          <div class="btn-toolbar mb-3 ml-md-auto" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button (click)="onGetAllProducts()" type="button" class="btn btn-secondary">All</button>
              <button (click)="onGetAvailableProducts()" type="button" class="btn btn-secondary">Available</button>
              <button (click)="onGetSelectedProducts()" type="button" class="btn btn-secondary">Selected</button>
            </div>
            <form #f="ngForm" class="form-inline" (submit)="onSearch() ">
              <input [(ngModel)]="query" class="form-control" type="search" name="searchInput" id="searchInput"
                     placeholder="Keyword" aria-label="Keyword">
              <button class="btn btn-info my-2 my-sm-0"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </nav>
        <table class="table mat-elevation-z8">
          <thead>
          <tr class="bg-light">
            <td>Index</td>
            <td>ID</td>
            <td>Name</td>
            <td>Price (€)</td>
            <td>Quantity</td>
            <td>Available</td>
            <td>Selected</td>
            <td>Actions</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of result.data; let i=index">
            <td>{{i + 1}}</td>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.available}}</td>
            <td>{{p.selected}}</td>
            <td>
              <a class="btn btn-sm btn-danger mr-1" (click)="handleDeleteProduct(p)">
                <i class="bi bi-trash3-fill"></i>
              </a>
              <a [routerLink]="['detail',p.id]" class="btn btn-sm btn-info mr-1">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a [routerLink]="['edit',p.id]" class="btn btn-sm btn-primary">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

