.product-cards-container {
  display: flex;
  flex-flow: row wrap;
}

.product-card-row {
  max-width: 400px;
  flex: 0 0 33.333%;
  display: flex;
  padding: 10px; /* gutter width */
}

.product-card {
  flex: 0 0 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

